@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-110: 110px;
  --font-90: 90px;
  --font-64: 64px;
  --font-54: 54px;
  --font-48: 48px;
  --font-36: 36px;
  --font-32: 32px;
  --font-24: 24px;
  --font-20: 20px;
  --font-16: 16px;
  --font-14: 14px;
  --font-12: 12px;

  --color-secondary-2: hsla(0, 0%, 96%, 1);
  --color-button-1: hsla(144, 100%, 50%, 1);
  --color-button-2: hsla(0, 68%, 56%, 1);
  --color-link: rgb(67, 82, 219);
  --color-stars: hsla(36, 100%, 60%, 1);
  --hover-button: hsla(0, 63%, 67%, 1);

  --text-primary: hsla(0, 0%, 0%, 1);
  --text-secondary: hsla(0, 0%, 98%, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html body[data-scroll-locked] {
  margin-right: 0 !important;
  padding-right: 0 !important;
  position: static !important;
  overflow-y: scroll !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:lang(en) .font-inter {
  font-family: var(--font-inter), sans-serif;
}

:lang(vi) .font-inter {
  font-family: var(--font-roboto), sans-serif;
}

:lang(en) .font-sans {
  font-family: var(--font-poppins), sans-serif;
}

:lang(vi) .font-sans {
  font-family: var(--font-quicksand), sans-serif;
}

.custom-lightbox .yarl__slide_image {
  width: 100%;
  height: 100%;
  object-fit: contain !important;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: black;
}

.yarl__thumbnails_wrapper {
  background-color: rgba(0, 0, 0, 0.6);
}
